

.sectionHeader { text-transform: uppercase; text-align: center; font-size: 28px; font-size: 2.8rem; margin: 2rem auto; line-height: 7rem; font-weight: bold; transition: 0.5s; }
.team .sectionHeader { margin-top: 4rem; margin-bottom: 0.5rem; line-height: 40px; }
.testimonials { min-height: 380px; background: url("../img/jiaruwomen.jpg") no-repeat center top; background-size: cover; color: #33332c; }
.testimonials:before { content: ''; display: table; }
.testimonialsList { width: 100%; }
.owl-stage-outer { width: 100%; overflow: hidden; }
.owl-stage { text-align: center; }
.owl-stage div.layout { width: 660px; margin: auto; }
.owl-stage p { font-size: 14px; font-size: 1.4rem; line-height: 2.2rem; letter-spacing: 1px; margin-bottom: 3rem; }
.owl-stage span { font-size: 14px; font-size: 1.4rem; font-weight: bold; }
.owl-stage a { color: #afcb08; }
.owl-stage .owl-item { float: left; }
.owl-controls { width: 100%; margin: 6rem 0; }
.owl-controls ul { width: 200px; margin: auto; }
.owl-controls ul li { width: 16px; height: 16px; background: #bbb; display: inline-block; margin-right: 0.5rem; border-radius: 50%; transition: 0.5s; }
.owl-controls ul li.active { background: #fff; }
